* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgba(32, 33, 36, 1);
    display: flex;
    flex-direction: column;
}

img {
    width: 30px;
    border-radius: 50%;
}

i {
    color: white;
}

.imagee,
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.4s;
}

.icon {
    padding: 12px 13px;
}

.imagee:hover,
.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.logo {
    margin-left: 8px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

h2 {
    padding-top: 30px;
    padding-left: 60px;
    color: rgb(228, 144, 134);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.left-of-form {
    padding-left: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}

.input-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}




.input-div p:not(.form-header) {
    margin-right: auto;
    width: 30%;
    color: #969ba1;
    font-size: 12px;
    text-align: start;
    margin-left: 10px;
}

.form-header {
    margin-right: 15%;
    width: 30%;
    color: white;
    font-size: 15px;
    text-align: start;
    margin-left: 10px;
}

input {
    width: 80%;
    height: 25px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #969ba19e;
    font-size: medium;
    color: white;
    appearance: auto;
    -webkit-appearance: none;
}

.right-part-of-input {
    width: 55%;
    display: flex;
    align-items: center;
}

.right-part-of-input p {
    width: 10%;
}

input:focus,
select:focus {
    outline-style: solid;
    outline-color: rgb(84, 84, 242);
    outline-width: 1px;
}

.small-input1 {
    width: 35%;
    margin-right: 2.5%;
}

.small-input2 {
    width: 35%;
    margin-left: 2.5%;
}

span {
    color: white;
    font-size: 12px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}


.right-of-form .input-div p {
    color: #969ba1;
    margin: 5px 0;
    width: 70%;
}

select,
select option {
    width: 70%;
    font-size: small;
}

#hiddenitem {
    display: none;
}